@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --cyan: #26ddf5;
  --font_tittle:"Krona One", sans-serif;
  --font_second:"Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
.sub1{
  font-family: var(--font_second);
}
/* header {
  height: 56px;
  width: 126px;
  margin-left: 362px;
  margin-top: 43px;
} */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: black;
}
main{
  display: flex;
  gap: 80px;
}
a {
  font-size: 40px;
  color: var(--cyan);
  text-decoration: none;
  font-weight: bold;
}

nav {
  display: flex;
  margin-left: 266px;
  margin-right: 402px;
  gap: 130px;
  
}

.session1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 615px;
}

h1{
  font-weight: 400;
  font-size: 36px;
  color: white;
  text-align: justify;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
  align-self: flex-start;
}

.h1_blue {
  font-weight: 400;
  font-size: 36px;
  color: var(--cyan);
}

.paragrafo {
  font-size: 24px;
  color: white;
  font-weight: 400;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
}
.paragrafo02{
    font-size: 24px;
    color: white;
    font-weight: 400;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
}

/* button {
  background-color: var(--cyan);
  color: black;
  border: none;
  border-radius: 10%;
  width: 180px;
  height: 49px;
  font-weight: 600;
} */

main {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 44px;
  margin: 0px;
}

img {
  width: 349px;
  height: 393px;
}

footer {
  height: 50px;
  line-height: 50px;
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: var(--cyan);
  font-size: 25px;
}

strong {
  font-weight: 400;
  font-size: 36px;
  color: var(--cyan);
}

.links{
  display: flex; 
  justify-content: space-between; 
  gap: 50px;

}
.link1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  background-color: var(--cyan);
  border-radius: 16px;
  padding: 21.5px 94.5px;
  text-align: center;
  color: black;
  
}